<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>CRAUT Routes</title>
<link rel="stylesheet" href="/css/styles.css" type="text/css" />
<link href="D:\ws\git\craut\src\main\resources\static\css\styles.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--

//-->
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>

<body>

	<section th:fragment="content" id="content" class="column-right">

		<article>

			<h3 th:text="'Found '+${activityMap.keySet().size()}+' activities on upload to save:'">Found 2 Activities on Upload:</h3>
			<form action="uploadselected" method="get">
				<table>
					<tr>
						<th>Save</th>
						<th>Name</th>
						<th>Route</th>
						<th>Distance</th>
					</tr>
					<tr th:each="activity : ${activityMap.keySet()}">
						<td><input checked="checked" type="checkbox" th:name="activitysave" th:value="${activity.route.name}"/></td>
						<td th:text="${activity.name}">24.08.2012</td>
						<td th:text="${activity.route.name}">Kaltenbronn</td>
						<td>? km</td>
					</tr>
				</table>

				<input type="submit" name="send" class="formbutton" value="submit" />
				<a class="button" href="list" >cancel</a>
				
			</form>
		</article>
	</section>

</body>
</html>