<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title> CRAUT Routes</title>
<link rel="stylesheet" href="/css/styles.css" type="text/css" />
<link href="D:\ws\git\craut\src\main\resources\static\css\styles.css" rel="stylesheet" type="text/css"/>
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--

//-->
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>

<body>
    
	<section th:fragment="content" id="content" class="column-right">
	
	<script th:inline="javascript">
         /*<![CDATA[*/
         
         var activities= /*[[${activities}]]*/;
            var routeCoordinates = [[]];
            for (var i = 0; i < activities.length; i++) { 
              routeCoordinates[i] = [activities[i].route.name, activities[i].route.startLatitude, activities[i].route.startLongitude, i,activities[i].route.distance,activities[i].route.elevation,activities[i].route.id ] 
            }
         
         google.maps.event.addDomListener(window, 'load', initialize);
        	
        /*]]>*/
		</script>

		<article>

			<h3 th:text="' Activities' ">Activities</h3>
			<table>
				
				<tr th:each="activity : ${activities}">
					<td> 
					<div><a th:text="${activity.name}+' '+${activity.route.name} " th:href="@{/activities/edit(id=${activity.id})}" href="#" > 21.04.2014 Kaltenbronn </a></div>
					<div th:text="'Distance: '+ ${#numbers.formatDecimal(activity.route.distance/1000,0,2,'COMMA')}+' km   Elevation: '+${activity.route.elevation}+' m '">Distance: 30 km   Elevation: 200 m</div>
					</td>
<!-- 					<td th:text="${activity.user}">Alitari</td> -->
                    <td >
                      <div><a th:href="@{/users/(id=${activity.user.id})}"   th:text="${activity.user.name}" href='#' >Alitari</a></div>
                      <div th:text="'Time: '+ ${activity.timeFormatted}">Time: 21:02 </div>
                    </td> 
                    <td >
                      <div th:text="${activity.startDay} ">20 DAYS AGO</div>
                    </td>
                </tr>
			</table>

			

		</article>


	</section>

</body>
</html>