<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>CRAUT Routes</title>
<link rel="stylesheet" href="/css/styles.css" type="text/css" />
<link href="D:\ws\git\craut\src\main\resources\static\css\styles.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--

//-->
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>
<body>
	<footer th:fragment="footer" class="clear">
		<div class="width">
			<p class="left">&copy; 2014 Alitari</p>
			<p class="right">
				<a href="http://zypopwebtemplates.com/">Free CSS Templates</a> by ZyPOP
			</p>
		</div>
	</footer>

</body>
</html>