<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>CRAUT Routes</title>
<link rel="stylesheet" href="/css/styles.css" type="text/css" />
<link href="D:\ws\git\craut\src\main\resources\static\css\styles.css" rel="stylesheet" type="text/css" />
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script src="/js/routeDetailsMap.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="/js/profile.js"></script>

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--

//-->
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>

<body>

	<section th:fragment="content" id="content" class="column-right">

		<script th:inline="javascript">
         /*<![CDATA[*/
         
        	var flightPlanCoordinates = [new google.maps.LatLng( -34.397, 150.644),new google.maps.LatLng( -24.397, 144.644)];
        	var routePoints = /*[[${routePoints}]]*/;
            
            for (var i = 0; i < routePoints.length; i++) { 
              flightPlanCoordinates[i] = new google.maps.LatLng( routePoints[i].latitude , routePoints[i].longitude) 
            } 
                        
        	google.maps.event.addDomListener(window, 'load', initialize);
            
            // Load the Visualization API and the piechart package.
            google.load('visualization', '1.0', {'packages':['corechart']});
      
            
           // Set a callback to run when the Google Visualization API is loaded.
            google.setOnLoadCallback(drawChart);
					
            function drawChart() {
       
               var elevationArray = [['Point', 'Height']];
               for (var i = 0; i < routePoints.length; i++) { 
                  elevationArray[i+1] = [routePoints[i].seq,routePoints[i].elevation] 
               }
	            var profileData = google.visualization.arrayToDataTable(elevationArray,false); 

            	var options = {
		           title : 'Route Elevation',
		           
		           legend : { position: 'none' }
			
	            };

	            var chart = new google.visualization.AreaChart(document.getElementById('chart-canvas'));
	            chart.draw(profileData, options);
           }
            
                 
        	
        /*]]>*/
		</script>

		<article>
			<h3 th:text="${route}">Route (id:23) Details</h3>
			<table>
				<tr>
					<td valign="top">
						<fieldset>

							
							<form action="edited" method="get">
								<p>
									<label for="name">Name:</label><br/> <input th:value="${route.name}" type="text" name="name" id="name" />
									<input type="submit" name="send" class="formbutton" value="Update" />
								</p>
							</form>
								<p>
									<label for="distance">Distance:</label><br/> <input th:value="${#numbers.formatDecimal(route.distance/1000,0,2,'COMMA')}+' km'" readonly="readonly" name="distance" id="distance" />
								</p>
								<p>
									<label for="elevation">Elevation:</label><br/> <input th:value="${#numbers.formatInteger(route.elevation,0)}+' m'" readonly="readonly"  name="distance" id="distance" />
								</p>
								<p>
									<label for="elevation">Ascent:</label><br/> <input th:value="${#numbers.formatDecimal(route.ascent,0,2)}+' %'" readonly="readonly"  name="distance" id="distance" />
								</p>
								<p>
									<label for="elevation">Difficulty:</label><br/> <input th:value="${#numbers.formatDecimal(route.difficulty,0,2)}+' points'" readonly="readonly"  name="distance" id="distance" />
								</p>
								<input type="hidden" name="id" th:value="${route.id}" />
							

						</fieldset>
					</td>
					<td valign="top">
						<fieldset>

							
							
								<p>
									<label for="points">Points count:</label> <br/><input th:value="${#lists.size(routePoints) }" disabled="disabled"
										type="text" name="points" id="points" />
								</p>
								
								<p>
									<label for="maxdistance">Max Point Distance(m):</label><br/> <input th:value="${#numbers.formatDecimal(gpxStatistics.maxDistance,3,2,'COMMA')}" disabled="disabled"
										type="text" name="maxdistance" id="maxdistance" />
								</p>
								<p>
									<label for="mindistance">Min Point Distance(m):</label> <br/><input th:value="${#numbers.formatDecimal(gpxStatistics.minDistance,3,2,'COMMA')}" disabled="disabled"
										type="text" name="mindistance" id="mindistance" />
								</p>
							<p>
								<a id="delete" class="button" th:href="@{delete(id=${route.id})}">Delete</a>
							</p>

						</fieldset>
					</td>
				</tr>
				<tr >
					<td colspan="2">
						<fieldset>
							<legend>Profile</legend>
							<div id="chart-canvas" style="height: 170px"></div>
						</fieldset>
					</td>
					
				</tr>
			</table>

		</article>


	</section>

</body>
</html>