<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title> CRAUT Routes</title>
<link rel="stylesheet" href="/css/styles.css" type="text/css" />
<link href="D:\ws\git\craut\src\main\resources\static\css\styles.css" rel="stylesheet" type="text/css"/>
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--

//-->
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>

<body>
    
	<section th:fragment="content" id="content" class="column-right">
        <script th:inline="javascript">
         /*<![CDATA[*/
         
         var routes= /*[[${routes}]]*/;
            var routeCoordinates = [[]];
            for (var i = 0; i < routes.length; i++) { 
              routeCoordinates[i] = [routes[i].name, routes[i].startLatitude, routes[i].startLongitude, i,routes[i].distance,routes[i].elevation,routes[i].id ] 
            }
         
         google.maps.event.addDomListener(window, 'load', initialize);
        	
        /*]]>*/
		</script>
	
		<article>
			<h3>Routes</h3>
			<table id="routes">
				
				<tr th:each="route : ${routes}">
<!-- 					<td> <a th:text="${route.id}" th:href="@{/routes/edit(id=${route.id})}">122</a></td> -->
					<td> 
					  <div><a th:text="${route.name}" th:href="@{/routes/edit(id=${route.id})}">Kaltenbronn</a></div>
					  <div th:text="'Distance: '+ ${#numbers.formatDecimal(route.distance/1000,0,2,'COMMA')}+' km   Elevation: '+${route.elevation}+' m '">Distance: 30 km   Elevation: 200 m</div>
					</td>
					<td>
					  <div>Leader: <a >: Alitari</a></div>
<!-- 					  <a th:text="${routeLeader.name}" th:href="@{/users/edit(id=${routeLeader.id})}">Leader: Alitari</a> -->
					  <div>2nd: Claus &nbsp;&nbsp; 3rd: Michael</div> 
<!-- 					  <div th:text="'Activities: '+ ${activityInfo.count}+' since  '+${route.insertDate}+' m '">Activities: 13 since 2 Weeks</div> -->
					</td>
					<td>
					    <div> Difficulty:&nbsp;&nbsp;<a href="#"><span id="star" class="fa fa-star"></span></a></div>
					    <div> Popularity:&nbsp;&nbsp;<span class="fa fa-bicycle"></span><span class="fa fa-bicycle"></span></div>
					</td>
                </tr>
			</table>
			
			<div align="center" > 
				<a th:if="${currentIndex} &gt; 0" th:href="@{list(page=${currentIndex}-1)}" href="#" class="button button-reversed">Previous</a>
				<label th:text="'  Page '+(${currentIndex}+1)+' of '+${totalIndex} "> Page 4 of 10</label> 
				<a th:if="${currentIndex} &lt; ${totalIndex-1}" th:href="@{list(page=${currentIndex}+1)}" class="button button-reversed">Next</a>
			</div>
		</article>


<!-- 		<article> -->
<!-- 			<fieldset> -->
<!-- 				<legend>Map</legend> -->
<!-- 				<div id="map-canvas" style="height: 170px"></div> -->
<!-- 			</fieldset> -->

<!-- 		</article> -->

	</section>

</body>
</html>