<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>CRAUT Routes</title>
<link rel="stylesheet" href="/css/styles.css" type="text/css" />
<link href="D:\ws\git\craut\src\main\resources\static\css\styles.css" rel="stylesheet" type="text/css" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<style>
       html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="/js/routeDetailsMap.js"></script>
    
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="/js/profile.js"></script>
    
    
    
    
    
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--

//-->
</head>

<body>


	<div th:replace="fragments/header :: header"></div>

	<section id="login" class="width clear">
	
	<h4>Login</h4>
	    <p th:if="${param.logout}" class="alert">You have been logged out</p>
		<p th:if="${param.error}" class="alert alert-error">There was an error, please try again</p>
		<p th:if="${message}" class="alert alert-error" th:text="${message}"></p>
		<p th:if="${username}" class="info" th:text="'User \''+${username}+'\' created. Login with  password below and use browser password mangagement. '">Please login with the right values.</p>
		
		 <table>
		    <tr>
		    <td>
			<fieldset>
			<legend> Existing User</legend>
      			<form name="form" th:action="@{/login}" action="/login" method="POST">
      			    <p>
					<label for="username">Username:</label><br/><input type="text" name="username" th:value="${username}" value="" placeholder="Username" />
					</p>
					<p>
					<label for="password">Password:</label><br/><input type="password" name="password" placeholder="Password" />
					</p>
		    		<input type="submit" id="login" value="Login" 	class="formbutton" />
			    </form>
			</fieldset>
			</td>
			<td>
			<fieldset  >
			<legend>Create User</legend>
      			<form name="form" th:action="@{/login/create}" action="/login/create" method="POST">
      			    <p>
					   <label for="username">Username:</label><br/><input type="text" th:value="${username}" name="username" value="" placeholder="Username" />
					</p>
					<p>
					   <label for="password">Password:</label><br/><input type="text" th:value="${password}" name="password" placeholder="Password" readonly="readonly" />
					</p>
		    		<input  th:unless="${username}" type="submit" id="create" value="Create" class="formbutton" />
			    </form>
			</fieldset>
			</td>
			</tr>
			</table>
	</section>
	
	
	<div th:replace="fragments/footer:: footer"></div>

</body>
</html>
